---
import Question from '../../components/Question';
import Layout from '../../layouts/Layout.astro';
import Image from 'astro/components/Image.astro';
import Call from '../../imgs/llamada.png'

const llamadasFalsas = [
  { question: "¿Qué son las llamadas falsas?", answer: "Son intentos de engaño telefónico para obtener información." },
  { question: "¿Cómo identificar una llamada falsa?", answer: "Piden datos sensibles o presionan para actuar rápidamente." },
  { question: "¿Qué hacer si recibes una llamada sospechosa?", answer: "Cuelga y verifica con la entidad oficial." },
  { question: "¿Qué riesgos tienen las llamadas falsas?", answer: "Roban dinero o información personal." },
  { question: "¿Cómo evitar ser víctima de llamadas falsas?", answer: "No compartas datos sensibles por teléfono." }
];

---

<Layout>
	<main class="w-[90%] lg:w-3/5 rounded-lg mx-auto bg-gray-700 py-10 px-16 flex flex-col gap-5">
		<div class="flex flex-col-reverse lg:flex-row justify-center lg:justify-between items-center">
			<div>
				<h1 class="text-3xl lg:text-5xl font-bold mb-4 lucidity"> 
					Llamadas Falsas
				</h1>
				<div class="bg-slate-900 max-w-44 mx-auto lg:mx-0 rounded-lg px-4 py-3">
					<h2 class="text-2xl faculty font-semibold text-center">Pregunta</h2>
				</div>
			</div>
			<div>
				<Image class="w-36 xl:w-44" src={Call} alt="">
			</div>
		</div>

		<Question client:only questions={llamadasFalsas} />
	</main>
</Layout>

<style>

</style>