---
import Question from '../../components/Question';
import Layout from '../../layouts/Layout.astro';

const roboContraseñas = [
  { question: "¿Qué es el robo de contraseñas?", answer: "Es la obtención de contraseñas de manera fraudulenta." },
  { question: "¿Cómo ocurre el robo de contraseñas?", answer: "A través de phishing, malware o ataques de fuerza bruta." },
  { question: "¿Cómo proteger tus contraseñas?", answer: "Usa contraseñas fuertes y habilita la autenticación en dos pasos." },
  { question: "¿Qué hacer si crees que robaron tu contraseña?", answer: "Cámbiala de inmediato y verifica tus cuentas." },
  { question: "¿Por qué es importante usar un administrador de contraseñas?", answer: "Genera y guarda contraseñas seguras automáticamente." }
];

---

<Layout>
	<main class="w-3/5 rounded-lg mx-auto bg-gray-700 py-10 px-16 flex flex-col gap-5">
		<div class="flex justify-between items-center">
			<div>
				<h1 class="text-5xl font-bold mb-4 lucidity flex-1"> 
					Robo de Contraseñas
				</h1>
				<div class="bg-slate-900 rounded-lg px-4 py-3">
					<h2 class="text-2xl faculty font-semibold text-center">Pregunta</h2>
				</div>
			</div>
			<div>
				<img class="w-44 mx-auto" src="../imgs/suplantacion-de-identidad.png" alt="">
			</div>
		</div>

		<Question client:only questions={roboContraseñas} />
	</main>
</Layout>

<style>

</style>