---
import Question from '../../components/Question';
import Layout from '../../layouts/Layout.astro';
import Password from '../../imgs/candado-de-seguridad.png'
import { Image } from 'astro:assets';

const contraseñasSeguras = [
  {
    question: "¿Qué es una contraseña segura?",
    answer: "Es una clave única, larga y difícil de adivinar."
  },
  {
    question: "¿Qué características debe tener una contraseña segura?",
    answer: "Al menos 12 caracteres, con letras, números y símbolos."
  },
  {
    question: "¿Por qué no debes usar la misma contraseña en todas tus cuentas?",
    answer: "Si una cuenta es hackeada, comprometes todas las demás."
  },
  {
    question: "¿Qué herramienta puedes usar para gestionar contraseñas?",
    answer: "Un administrador de contraseñas."
  },
  {
    question: "¿Por qué es útil habilitar la autenticación en dos pasos?",
    answer: "Añade una capa extra de seguridad contra accesos no autorizados."
  }
];


---

<Layout>
	<main class="w-[90%] lg:w-3/5 rounded-lg mx-auto bg-gray-700 py-10 px-16 flex flex-col gap-5">
		<div class="flex flex-col-reverse lg:flex-row justify-center lg:justify-between items-center">
			<div>
				<h1 class="text-5xl font-bold mb-4 lucidity"> 
					Contraseñas Seguras
				</h1>
				<div class="bg-slate-900 max-w-44 rounded-lg px-4 py-3">
					<h2 class="text-2xl faculty font-semibold text-center">Pregunta</h2>
				</div>
			</div>
			<div class="">
				<Image class="w-44" src={Password} alt="">
			</div>
		</div>

		<Question client:only questions={contraseñasSeguras} />
	</main>
</Layout>

<style>

</style>